@model IList<Person>

<h1>This is where we manage our people</h1>

<a asp-action="Create" class="btn btn-primary">New Person</a>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <partial name="PersonRowPartial" model="person"/>
        }
    </tbody>
</table>

@section Modals{ <!-- section gelinkt aan layout -->
    <!-- Modal -->  <!-- ALTIJD ONDERAAN TOEVOEGEN (zo komt hij vooraan) (wel nog boven de scripts) -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete person</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this person?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
}